*~
dependencies/klee/.git*
dependencies/klee-build/.git*
dependencies/llvm-3.8.1/.git*
dependencies/llvm-build-cmake/.git*
dependencies/minisat/.git*
dependencies/stp/.git*
build
samples/*.bc
teste/*.bc
.idea/workspace.xml
.idea/**/*
*.pyc
.clang_complete
