*~
dependencies/klee/.git*
dependencies/klee-build/.git*
dependencies/llvm-3.8.1/.git*
dependencies/llvm-build-cmake/.git*
dependencies/minisat/.git*
dependencies/stp/.git*
release/bcs_files
release/klee-*
release/*.bc
release/list_log
build
samples/*.bc
teste/*.bc
.idea/workspace.xml
.idea/**/*
*.pyc
.clang_complete
.vs/*
.vscode/*
*.user
.cproject
*.project
Map2Check.creator
*.config
Map2Check.files
*.includes
release/allocation_log.csv
release/compiled.ll
*.log
release/heap_log.csv
*.ll
release/witness.graphml