<?xml version="1.0" encoding="UTF-8"?>

<Installer>

    <Name>Map2Check</Name>

    <Version>Fuzzer-7.0a</Version>

    <Title>Map2Check Installer</Title>

    <Publisher>PRISM</Publisher>

    <StartMenuDir>PRISM</StartMenuDir>

    <TargetDir>@HomeDir@/InstallationDirectory</TargetDir>

</Installer>
